# Data and heavy assets
data/
lib/
gfpgan/
pretrained/

# Experiment artifacts
experiments/*/checkpoints/


# Python / cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Logs and outputs
*.log
*.out
nohup.out
*.txt

# Large model files
*.pth
*.pt
*.ckpt
*.onnx
*.bin
*.safetensors

# Archives
*.zip
*.tar
*.gz
*.7z

# Jupyter scratch
Untitled.ipynb
